@{
	ViewData["Title"] = "Access Denied";
}

<div class="row">
	<div class="col text-center">
		<h1><i class="fa-solid fa-ban" style="color:red"></i>
		@ViewData["Title"]</h1>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="col text-center" >
		<h3>İlgili sayfaya erişiminiz yoktur.</h3>
	</div>
</div>